In [4]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('match_details.csv')
df.head()

,match_id,team1,team2,season,date,match_number,venueID,toss_winner,toss_decision,player_of_match,...,umpire2,reserve_umpire,tv_umpire,match_referee,winner,win_by,winner_type,method,outcome,eliminator
0,734033,Kings XI Punjab,Rajasthan Royals,2014,2014-05-23,52.0,V001,Rajasthan Royals,field,SE Marsh,...,PG Pathak,UV Gandhe,VA Kulkarni,RS Mahanama,Kings XI Punjab,16.0,runs,NaN,NaN,NaN
1,829735,Rajasthan Royals,Chennai Super Kings,2015,2015-04-19,15.0,V002,Chennai Super Kings,bat,AM Rahane,...,M Erasmus,K Srinivasan,K Srinath,Chinmay Sharma,Rajasthan Royals,8.0,wickets,NaN,NaN,NaN
2,829749,Rajasthan Royals,Royal Challengers Bangalore,2015,2015-04-24,22.0,V002,Royal Challengers Bangalore,field,MA Starc,...,S Ravi,K Srinath,AK Chaudhary,Chinmay Sharma,Royal Challengers Bangalore,9.0,wickets,NaN,NaN,NaN
3,829713,Kolkata Knight Riders,Royal Challengers Bangalore,2015,2015-04-11,5.0,V025,Royal Challengers Bangalore,field,CH Gayle,...,C Shamshuddin,VK Sharma,PG Pathak,J Srinath,Royal Challengers Bangalore,3.0,wickets,NaN,NaN,NaN
4,829705,Kolkata Knight Riders,Mumbai Indians,2015,2015-04-08,1.0,V025,Kolkata Knight Riders,field,M Morkel,...,C Shamshuddin,VK Sharma,PG Pathak,J Srinath,Kolkata Knight Riders,7.0,wickets,NaN,NaN,NaN

In [5]:
df.head()

,match_id,team1,team2,season,date,match_number,venueID,toss_winner,toss_decision,player_of_match,...,umpire2,reserve_umpire,tv_umpire,match_referee,winner,win_by,winner_type,method,outcome,eliminator
0,734033,Kings XI Punjab,Rajasthan Royals,2014,2014-05-23,52.0,V001,Rajasthan Royals,field,SE Marsh,...,PG Pathak,UV Gandhe,VA Kulkarni,RS Mahanama,Kings XI Punjab,16.0,runs,NaN,NaN,NaN
1,829735,Rajasthan Royals,Chennai Super Kings,2015,2015-04-19,15.0,V002,Chennai Super Kings,bat,AM Rahane,...,M Erasmus,K Srinivasan,K Srinath,Chinmay Sharma,Rajasthan Royals,8.0,wickets,NaN,NaN,NaN
2,829749,Rajasthan Royals,Royal Challengers Bangalore,2015,2015-04-24,22.0,V002,Royal Challengers Bangalore,field,MA Starc,...,S Ravi,K Srinath,AK Chaudhary,Chinmay Sharma,Royal Challengers Bangalore,9.0,wickets,NaN,NaN,NaN
3,829713,Kolkata Knight Riders,Royal Challengers Bangalore,2015,2015-04-11,5.0,V025,Royal Challengers Bangalore,field,CH Gayle,...,C Shamshuddin,VK Sharma,PG Pathak,J Srinath,Royal Challengers Bangalore,3.0,wickets,NaN,NaN,NaN
4,829705,Kolkata Knight Riders,Mumbai Indians,2015,2015-04-08,1.0,V025,Kolkata Knight Riders,field,M Morkel,...,C Shamshuddin,VK Sharma,PG Pathak,J Srinath,Kolkata Knight Riders,7.0,wickets,NaN,NaN,NaN

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.tail()

,match_id,team1,team2,season,date,match_number,venueID,toss_winner,toss_decision,player_of_match,...,umpire2,reserve_umpire,tv_umpire,match_referee,winner,win_by,winner_type,method,outcome,eliminator
945,829739,Delhi Daredevils,Kolkata Knight Riders,2015,2015-04-20,17.0,V005,Kolkata Knight Riders,field,UT Yadav,...,CB Gaffaney,Nitin Menon,CK Nandan,GF Labrooy,Kolkata Knight Riders,6.0,wickets,NaN,NaN,NaN
946,734029,Chennai Super Kings,Sunrisers Hyderabad,2014,2014-05-22,50.0,V006,Sunrisers Hyderabad,field,DA Warner,...,C Shamshuddin,J Madanagopal,RM Deshpande,J Srinath,Sunrisers Hyderabad,6.0,wickets,NaN,NaN,NaN
947,829747,Delhi Daredevils,Mumbai Indians,2015,2015-04-23,21.0,V005,Mumbai Indians,field,SS Iyer,...,CK Nandan,Nitin Menon,CB Gaffaney,GF Labrooy,Delhi Daredevils,37.0,runs,NaN,NaN,NaN
948,829733,Kings XI Punjab,Kolkata Knight Riders,2015,2015-04-18,14.0,V023,Kolkata Knight Riders,field,AD Russell,...,CK Nandan,Nitin Menon,CB Gaffaney,GF Labrooy,Kolkata Knight Riders,4.0,wickets,NaN,NaN,NaN
949,734047,Chennai Super Kings,Kings XI Punjab,2014,2014-05-30,NaN,V016,Chennai Super Kings,field,V Sehwag,...,RJ Tucker,RM Deshpande,AK Chaudhary,J Srinath,Kings XI Punjab,24.0,runs,NaN,NaN,NaN

In [8]:
df.describe()

           match_id  match_number      win_by
count  9.500000e+02    892.000000  932.000000
mean   8.304852e+05     30.913677   17.056867
std    3.375678e+05     18.040619   21.633109
min    3.359820e+05      1.000000    1.000000
25%    5.012612e+05     15.750000    6.000000
50%    8.297380e+05     31.000000    8.000000
75%    1.175372e+06     46.000000   19.000000
max    1.312200e+06     72.000000  146.000000

In [9]:
df.dtypes

match_id             int64
team1               object
team2               object
season              object
date                object
match_number       float64
venueID             object
toss_winner         object
toss_decision       object
player_of_match     object
umpire1             object
umpire2             object
reserve_umpire      object
tv_umpire           object
match_referee       object
winner              object
win_by             float64
winner_type         object
method              object
outcome             object
eliminator          object
dtype: object

In [10]:
list(df.columns)

['match_id',
 'team1',
 'team2',
 'season',
 'date',
 'match_number',
 'venueID',
 'toss_winner',
 'toss_decision',
 'player_of_match',
 'umpire1',
 'umpire2',
 'reserve_umpire',
 'tv_umpire',
 'match_referee',
 'winner',
 'win_by',
 'winner_type',
 'method',
 'outcome',
 'eliminator']

In [11]:
df[['umpire1', 'umpire2', 'match_number']]

             umpire1        umpire2  match_number
0    HDPK Dharmasena      PG Pathak          52.0
1       AK Chaudhary      M Erasmus          15.0
2          M Erasmus         S Ravi          22.0
3             S Ravi  C Shamshuddin           5.0
4             S Ravi  C Shamshuddin           1.0
..               ...            ...           ...
945           SD Fry    CB Gaffaney          17.0
946     BNJ Oxenford  C Shamshuddin          50.0
947           SD Fry      CK Nandan          21.0
948           SD Fry      CK Nandan          14.0
949  HDPK Dharmasena      RJ Tucker           NaN

[950 rows x 3 columns]

In [5]:
df_html = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2021.html')

In [6]:
type(df_html)

list

In [7]:
for i in range(len(df_html)):
    df_html[i].to_csv(f"nba{i}.csv", index=False)